.post-box {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background: rgb(243, 249, 199);
    text-align: left;
    width: 250px;
    box-shadow: rgb(255, 1, 1);
}
.like-button {  
    background: none;
    border: none;
    cursor: pointer;
    font-size: 30px;
    margin-top: 25px;

} 

.like-button:hover {
  transform: scale(1.3);

  
}